# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
venv/
ENV/
env/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Output and temp files
outputs/*.json
outputs/*.zip
!outputs/.gitkeep


# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
